
/* experiencia*/
.experience {
  padding: 4rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrusel {
  display: flex;
  overflow-x: auto; 
  overflow-y: hidden; 
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; 
  width: 100%;
  padding: 20px 20px;
  gap: 60px;
  margin: 0 10px;
  max-width: 1200px;
  position: relative;
}

.carrusel::-webkit-scrollbar {
  height: 13px; 
  width: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.carrusel::-webkit-scrollbar-track {
  background: linear-gradient(to left, #5a5bf3 0%, #91e7d9 120%);
  border-radius: 10px;
}

.carrusel::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    #8e8ef3 0%,
    #91e7d9 100%
  ); 
  border-radius: 10px;
  transition: background 0.3s;
}

.carrusel::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: linear-gradient(to left, #5a5bf3 20%, #91e7d9 150%);
}

.carrusel::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.experience__section__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.experiencie__box {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
  padding-bottom: 1.5rem;
}

.experiencie__box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.30);
  border-color: linear-gradient(to left, #5a5bf3 10%, #91e7d9 150%);
}

.experiencie__box img {
  width: 500px;
  
}


 .experience__img {
        width: auto;
        max-width: 100%;
        height:180px ;
        object-fit: fill; 
        object-position: center;
        transition: transform 0.5s ease; 
        margin: 0 auto;         
}

.experience__info {
  padding: 1.2rem;
  flex-grow: 1;
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
}

.experience__description {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  flex-wrap: wrap;
}


.experience__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.experience__text {
  color: #2c3e50;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}

.experiencia__boton--repo,
.experiencia__boton--demo {
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.30);
}

.experiencia__boton--repo {
  background-color: transparent;
  color: white;
}

.experiencia__boton--repo:hover {
  background: linear-gradient(155deg, #8e8ef3 0%, #91e7d9 100%);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.experiencia__boton--demo {
  background-color: transparent;
  color: #2c3e50;
  border-color: #2c3e50;
}

.experiencia__boton--demo:hover {
  background: linear-gradient(to right, #5a5bf3 0%, #91e7d9 150%);;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.experiencia__boton--repo:active,
.experiencia__boton--demo:active {
    transform: translateY(0);
    box-shadow: none;
}

